{% extends "base.html" %}

{% block content %}
    <form action="/forms/order" method="post">
        {{ form.hidden_tag() }}
        {% for field in form if field.name != 'csrf_token' %}
            <div class="form-group">
                {{ field.label() }}
                {{ field(class_="date") }}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <input type="submit" value="Add" class="btn btn-primary">
    </form>
{% endblock %}